.PositionLeaderboard {
  position: absolute;
  top: 250px;
  left: 10px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.LeaderboardBox {
  background: #ecf0f1;
  border: 2px solid #bdc3c7;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow-x: auto;
  cursor: default;
}

.LeaderboardBox h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 1rem;
  text-align: center;
}

.LeaderboardList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.LeaderboardList li {
  display: contents;
}

.LeaderboardHeader {
  background-color: #bdc3c7;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  display: contents;
}

.LeaderboardList span {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 0.95rem;
  text-align: center;
}

.LeaderboardList span.LeaderboardName {
  font-weight: 600;
  color: #34495e;
}

.LeaderboardScore, .LeaderboardAttempts, .LeaderboardDate {
  color: #7f8c8d;
}

.LeaderboardList span:hover {
  background-color: #dfe6e9;
  transition: background-color 0.2s ease;
}

.GoldEntry {
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
}

.SilverEntry {
  background-color: #c0c0c0;
  color: #000;
  font-weight: bold;
}

.BronzeEntry {
  background-color: #cd7f32;
  color: #000;
  font-weight: bold;
}

.StandardEntry {
  background-color: transparent;
}